# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment folders
env/
venv/
.venv/

# Ignore virtual environment settings
.env
*.env

# Ignore data folders
input/
output/

# Ignore CSV output files
*.csv

# Ignore Docker artifacts
*.log
docker-compose.override.yml

# Ignore Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Ignore IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db
